@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body{
    background: url(./pen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}  
.container{
    width:100%;
    text-align: center;
} 
.heading h1{
    color: white;
    font-family:'Oswald', sans-serif;
    text-align: center;
    margin-top: 100px;
}
.open input{
    width: 259px;
    display:block;
    padding: 18px;
    background:#F2F2F2;
    margin-bottom: 22px;
    outline:none;
    border:none;
    font-size:16px;
    border-radius: 12px;
    text-align: center;
}
.open {
    margin-top: 90px;
    margin-left: 805px;
}
.login button{
    width: 250px;
    display:block;
    background:#fb5200;
    padding: 18px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    margin-left: 832px;
}
.login :hover{
    color: white;
    background: black;
    transition: 0.5s;
    cursor: pointer;
}
