@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body{
	background:url(./pen.jpg);
	background-size: cover;
}

.header h1{
	font-size: 35px;
	text-align: center;
	font-family:'Oswald', sans-serif;
	margin-top: 110px;
	color: white;
	font-weight: 500;
	text-shadow: 0px 0px 3px white;
}
.loginbox{
	background:white;
	width: 390px;
	padding:40px;
	margin:auto;
	margin-top: 100px;
	box-shadow:1px 0px 23px 9px black;
	margin-bottom: 100px;
}
.loginbox input{
	
	width:100%;
	display:block;
	padding:20px;
	background:#F2F2F2;
	margin-bottom:20px;
	outline:none;
	border:none;
	font-size:16px;
}
.loginbutton{
	
	background:linear-gradient(#09f773,#029802)  !important;
	color:black;
	width:100px;
	cursor:pointer;
}

.registerLink span{
	
	color:#00b300;
}
.registerLink{
	text-align:center;	
}
.registerLink a{
	text-decoration: none;
}
.loginbox h2{
	
	font-family:'Oswald', sans-serif; 
	text-align:center;
	margin-bottom:20px;
	margin:0;
	text-transform:uppercase;
	color:#444;
	text-shadow:0px -1px 3px black;
	font-size:30px;
}
.loginbox h3 {
    color: #1b5a51f0;
	font-family:'Oswald', sans-serif;
	cursor: pointer;
}  






































