@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;  
    
}
.container{
    width: 100%;
    margin: 10px 0px;
}
.topmenu h1,h2 {
    background: rgba(255, 255, 255, 0.691);
    overflow: hidden;
    font-size: 28px;
    font-weight: 400;
    display: block;
    color: rgb(17, 17, 105);
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.2;
}
.topmenu h1{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
.Wrapper h1{
    font-size: 35px;
    font-weight: 500;
    text-decoration-color: rgb(36, 36, 109);
    width: 328px;
    text-align: center;
    line-height: 0px;
}
.Instname{
    width: 940px;
    word-spacing: 0px;
    line-height: 22px;
    font-size: 25px;
    float: left;
}
.Instname h1 {
    font-weight: 400;
    font-size: 35px;
    text-align: center;
}
.experiance{
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    line-height: 54px;
    border: solid black 2px;
    border-radius: 25px;
}
.experiance h1{
    font-weight: 400;
    font-size: 35px;
    
}
.achivement h1{
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}
.achivement{
    background: url(./nice.jpg);
    color: black;
    background-repeat: no-repeat;
    margin: 60px 0px;
}
.work{
    color: rgb(93, 4, 4);
}
.gallery h1{
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}
.capture1 {
    text-align: center;
}
.SeeMore {
    text-align: center;
    margin: 6px;
}
.SeeMore a {
    text-decoration: none;
    color:white;
    font-size: 18px;
}
.SeeMore button{
    width: 140px;
    padding: 12px 1px;
    background: black;
    border-radius: 25px;
    border: solid black 1px;
}
.SeeMore  :hover{
    background: white;
    color: black;
    transition: 0.2s;
}
.capture1 img{
    width: 463px;
    border-radius: 15px;
}
#contact{
    background: black;
    width:100% ;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.social img{
    width: 55px;
    margin-left: 27px;
    margin-bottom: 0px;
    border-radius: 60px;
} 
.social h1 {
    color: yellow;
    font-size: 25px;
    margin-left: 30px;
    padding-top: 40px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
}
.learnme h1{
    text-align: center;
    font-size: 47px;
    font-weight: 600;
    margin-top: 25px;
}
.topmenu button{
    width: 100px;
    padding: 9px;
    border-radius: 10px;
    background: black;
    margin-bottom:10px; 
    border: none;
}  
.topmenu button a {
    text-decoration: none;
    font-size: 18px;   
    color: white;
}
.login{
    text-align: center;

}
.login button { 
    width: 134px;
    padding: 8px;
    background: black;
    border-radius: 33px;
    border: none;
    font-size: 22px;
}
.login button a{
    text-decoration: none;
    color: white;
}
.socialSite {
    padding-top: 25px;
}
.socialSite button {
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    font-size: 45px;
    border-radius: 70px;
    float: left;
    margin: 8px 0px;
}
.socialSite  :hover{
    color: black;
    background-color: white;
    transition: 0.5s;
    border: solid black 1px;
    cursor: pointer;
}
.socialSite2 button{
    width: 100%;
    padding: 0px;
    border: none;
    background-color: black;
    color: white;
    font-size: 45px;
    border-radius: 70px;
    float: left;
}
.socialSite2  :hover{
    color: black;
    background-color: white;
    transition: 0.5s;
    border: solid black 1px;
    cursor: pointer;
}
.socialSite3 button{
    width: 100%;
    padding: 0px;
    border-radius: 70px;
    float: left;
    font-size: 45px;
    background-color: black;
    color: white;
    border: none;
    margin: 10px 0px;
}
.socialSite3 :hover{
    color: black;
    background-color: white;
    transition: 0.5s;
    border: solid black 1px;
    cursor: pointer;
}
.profile img {
    width: 200px;
    border-radius: 218px;
}